[Unit]
Description=Mautic multisend service
Requires=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=on-failure
RemainAfterExit=no
RestartSec=5s
ExecStart=/path/to/multisend

[Install]
WantedBy=multi-user.target
